<template>
    <div id="HomeProduct">
        <b-container>
            <titleCategorie title="Découvrez nos recettes"/>
            <b-row>
                <b-col lg="12">
                    <div class="first-recipe">
                        <b-card class="overflow-hidden"
                            data-aos="zoom-out"
                            data-aos-duration="2000"
                            data-aos-once="true"
                        >
                            <b-row no-gutters>
                            <b-col md="7">
                                <b-card-img src="@/assets/recettes/macandcheese.png" alt="Image" class="rounded-0"></b-card-img>
                            </b-col>
                            <b-col md="5">
                                <b-card-body title="Mac & cheese">
                                <b-card-text>
                                    This is a wider card with supporting text as a natural lead-in to additional content.
                                    This content is a little bit longer.
                                </b-card-text>
                                </b-card-body>
                            </b-col>
                            </b-row>
                        </b-card>
                  </div>
                </b-col>
            </b-row>
            <CardComponent :items="items"/>
        </b-container>
    </div>
</template>

<script>
import titleCategorie from '@/components/generique/titleCategorie.vue'
import CardComponent from '@/components/generique/Card.vue'
export default {
  name: 'HomeProduct',
  components: {
    titleCategorie,
    CardComponent
  },
  data: () => ({
    items: [
      { textCard: 'Test1', buttonCardText: 'Go there', col: 4, effet: 'zoom-out' },
      { textCard: 'Test2', buttonCardText: 'Go there', col: 4, effet: 'zoom-out' },
      { textCard: 'Test3', buttonCardText: 'Go there', col: 4, effet: 'zoom-out' }
    ]
  })
}
</script>

<style lang="scss">
    #HomeProduct {
        padding: 50px 0;
        background-color: #f5f3f1;
    }
    @media screen and (max-width: 768px) {
        #HomeProduct {
            padding: 50px 0;
            .discover {
                &:before, &:after {
                content: '';
                width: calc((100% - 320px) / 2);
                display: inline-block;
                position: absolute;
                left: 20px;
                top: 15px;
                border-bottom: solid 1px #CDAD99;
            }
            &:after {
                left: unset;
                right: 20px;
            }
                a {
                    font-size: 18px
                }
            }
        }
    }

</style>
