<template>
    <div id="homeLanding">
        <div class="overlay-black"></div>
        <b-container class="h-100">
            <b-row class="h-100 position-relative">
                <b-col lg="8" class="h-100" ref="basic" v-if="title">
                    <div class="h-100 title-homepage">
                        <h1>{{ title }}</h1>
                        <span>{{ subtitle }}</span>
                    </div>
                </b-col>
                <b-col lg="12" v-else>
                    <div class="card-home pt-5" v-for="(recipes, index) in randomColRecipe" :key="index">
                        <b-card
                                :title="recipe.title"
                                :img-src="recipe.image"
                                img-alt="Image"
                                img-top
                                tag="article"
                                style="max-width: 20rem;"
                                class="mb-2 mr-2 shadow"
                                v-for="(recipe, indexRecipe) in recipes"
                                :key="indexRecipe"
                        >
                            <b-card-text>

                            </b-card-text>
                            <b-button :href="'/recipe/' + recipe.id" variant="primary">see the recipe</b-button>
                        </b-card>
                    </div>
                </b-col>
            </b-row>
        </b-container>
    </div>
</template>

<script>
import _ from 'lodash'

export default {
  name: 'homeLanding',
  props: [
    'title',
    'subtitle',
    'randomRecipe'
  ],
  computed: {
    randomColRecipe () {
      console.log(this.randomRecipe)
      return _.chunk(Object.values(this.randomRecipe), 3)
    }
  }
}
</script>

<style lang="scss">
    #homeLanding {
        background-image: url('../../assets/wallpaper.png');
        position: relative;
        background-attachment: fixed;
        color: #fff;
        height: 80vh;
        width: 100%;
        background-size: cover;
        .overlay-black {
            background-color: #333;
            opacity: .7;
            position: absolute;
            width: 100%;
            height: 100%;
        }
        .blockH1 {
            position: relative;
        }
        .title-homepage {
            display: flex;
            text-align: left;
            justify-content: center;
            flex-direction: column;
            color: #fff;
            font-family: $font;
            h1 {
                font-weight: 700;
                font-size: 64px;
            }
            span {
                padding: 0 25px;
                font-size: 25px;
            }
        }
        .card-home {
            display: flex;
            color: $maincolor;
            justify-content: center;
        }
        a {
            background-color: $secondarycolor;
        }
    }
</style>
