<template>
    <div id="our-chef">
        <b-container>
            <titleCategorie title="Nos Chefs"/>
            <b-row>
                <b-col lg="4">
                    <b-img class="chef-img" src="../../assets/chef/cyril-lignac.jpg" rounded="circle" alt="Circle image"></b-img>
                </b-col>
                <b-col lg="4">
                    <b-img class="chef-img" src="../../assets/chef/philippe-etchebest.jpg" rounded="circle" alt="Circle image"></b-img>
                </b-col>
                 <b-col lg="4">
                    <b-img class="chef-img" src="../../assets/chef/helene-daroze.jpg" rounded="circle" alt="Circle image"></b-img>
                </b-col>
            </b-row>
        </b-container>
    </div>
</template>

<script>
import titleCategorie from '@/components/generique/titleCategorie.vue'
export default {
  name: 'HomeChef',
  components: {
    titleCategorie
  }
}
</script>

<style lang='scss'>
#our-chef {
    padding: 50px 0;
}
.chef-img {
    width: 75%;
    transition: transform .2s;
    &:hover {
        transform: scale(1.1);
    }
}
</style>
