<template>
    <b-row>
    <b-col :lg="col.col" v-for="(col, index) in items" :key=index>
      <div>
        <b-card
          :title="col.textCard"
          img-src="https://picsum.photos/600/300/?image=25"
          img-alt="Image"
          img-top
          tag="article"
          class="mb-2 mt-4"
          data-aos=""
          data-aos-duration="2000"
          data-aos-once="true"
        >
            <b-card-text>
              {{ col.textCard || "Desciption a venir" }}
            </b-card-text>

            <b-button href="#" variant="primary">{{ col.buttonCardText || "visiter" }}</b-button>
        </b-card>
      </div>
  </b-col>
    </b-row>
</template>

<script>
export default {
  name: 'card',
  props: {
    items: Array
  },
  data: () => ({
    count: 0
  })
}
</script>
