<template>
    <div class="titleCategorie">
            <b-row class="d-flex justify-content-center">
                <div class="discover">
                    <a>{{ title }}</a>
                </div>
            </b-row>
        </div>
</template>

<script>
export default {
  name: 'titleCtagorie',
  props: [
    'title'
  ]
}
</script>

<style lang="scss">
    .row {
        position: relative;
    }
        .discover {
            margin-bottom: 50px;
            &:before, &:after {
                content: '';
                width: calc((100% - 320px) / 2);
                display: inline-block;
                position: absolute;
                left: 0;
                top: 20px;
                border-bottom: solid 1px #CDAD99;
            }
            &:after {
                left: unset;
                right: 0;
            }
            a {
                font-size: 25px;
            }
        }
        @media screen and (max-width: 768px) {
        .titleCategorie {
            padding: 50px 0;
            .discover {
                &:before, &:after {
                content: '';
                width: calc((100% - 320px) / 2);
                display: inline-block;
                position: absolute;
                left: 20px;
                top: 15px;
                border-bottom: solid 1px #CDAD99;
            }
            &:after {
                left: unset;
                right: 20px;
            }
                a {
                    font-size: 18px
                }
            }
        }
    }
</style>
