<template>
    <div id="ficheRecipe">
        {{ this.$route.params }}

    </div>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'ficheRecipe',
  computed: {
    ...mapState({
      data: state => state.recipes.recipeInfo
    })
  },
  mounted: function () {
    return this.$store.dispatch('getRecipeInfo', this.$route.params)
  }
}
</script>
