<template>
  <div class="home">
      <HomeLanding
              title="La cuisine française à l'état pur"
              subtitle="Découvrez des plats qui conviennent à votre palet gustatif"
      />
      <HomeProduct />
      <HomeChef />
  </div>
</template>

<script>
// @ is an alias to /src
import HomeLanding from '@/components/homepage/HomeLanding.vue'
import HomeProduct from '@/components/homepage/HomeProduct.vue'
import HomeChef from '@/components/homepage/HomeChef.vue'

export default {
  name: 'Home',
  components: {
    HomeLanding,
    HomeProduct,
    HomeChef
  }
}
</script>
