<template>
    <div id="recipes">
        <HomeLanding :randomRecipe="data"/>
    </div>
</template>

<script>
import { mapState } from 'vuex'
import HomeLanding from '@/components/homepage/HomeLanding.vue'

export default {
  name: 'recipes',
  components: {
    HomeLanding
  },
  computed: {
    ...mapState({
      data: state => state.recipes.randomRecipe
    })
  },
  mounted: function () {
    return this.$store.dispatch('getRandomRecipe')
  }
}
</script>
