<template>
    <div id="navbarComponent">
        <div>
            <b-navbar toggleable="lg" type="dark" variant="light">
                <img alt="Vue logo" src="../../assets/logo.png">
                <b-navbar-brand href="#">FoodWars</b-navbar-brand>
                <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

                <b-nav>
                    <b-nav-item active><router-link to="/recipes">Recettes</router-link></b-nav-item>
                    <b-nav-item>Link</b-nav-item>
                    <b-nav-item>Another Link</b-nav-item>
                    <b-nav-item disabled>Disabled</b-nav-item>
                </b-nav>
                <b-collapse id="nav-collapse" is-nav>
                    <b-navbar-nav class="ml-auto">
                        <b-nav-form>
                            <b-form-input size="sm" class="mr-sm-2" placeholder="Search" v-model="navSearch"></b-form-input>
                            <router-link :to="`/result/${navSearch}`" tag="button">Search</router-link>
                        </b-nav-form>

                        <b-nav-item-dropdown text="Lang" right>
                            <b-dropdown-item href="#">EN</b-dropdown-item>
                            <b-dropdown-item href="#">ES</b-dropdown-item>
                            <b-dropdown-item href="#">RU</b-dropdown-item>
                            <b-dropdown-item href="#">FA</b-dropdown-item>
                        </b-nav-item-dropdown>

                        <b-nav-item-dropdown right>
                            <template v-slot:button-content>
                                <em>User</em>
                            </template>
                            <b-dropdown-item href="#">Profile</b-dropdown-item>
                            <b-dropdown-item href="#">Sign Out</b-dropdown-item>
                        </b-nav-item-dropdown>
                    </b-navbar-nav>
                </b-collapse>
            </b-navbar>
        </div>
    </div>
</template>

<script>

export default {
  name: 'Navbar',
  data: () => ({
    navSearch: ''
  })
}

</script>

<style lang="scss">
    #navbarComponent {
        img {
            width: 50px;
        }
        .navbar-brand {
            color: $maincolor;
        }
    }
</style>
