<template>
    <footer>
        <div class="footer-content">
            <p>Made with ♥ in Paris</p>
        </div>
    </footer>
</template>

<script>
export default {
  name: 'appFooter'
}
</script>

<style lang="scss">
footer {
    color: white;
    background-color: #34485f;
    .footer-content {
        height: 18vh;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        flex-direction: column;
    }
    p {
        margin: 0;
    }
}
</style>
