<template>
  <div id="app">
      <navBar/>
      <router-view/>
      <appFooter />
  </div>
</template>

<script>
import navBar from './components/header/Navbar.vue'
import appFooter from './components/footer/footer.vue'

export default {
  name: 'app',
  components: {
    navBar,
    appFooter
  }
}
</script>

<style lang="scss">
    @import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap');
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>
